fastapi
uvicorn
pydantic
python-multipart
httpx
python-dotenv
loguru
groq
pydub
soundfile
google-generativeai
langchain-core
langchain-google-genai
sqlalchemy
alembic
aiofiles
asyncpg
psycopg2-binary
